NODE_ENV=production
PORT=3000
BLOG_REPO_DIR=/srv/personal_website
BLOG_DATA_DIR=/srv/personal_website-data
BLOG_ADMIN_USERNAME=wanderer
BLOG_ADMIN_PASSWORD_HASH=
BLOG_SESSION_SECRET=
BLOG_GIT_BRANCH=master
